*{
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url('https://ihworld.com/images/home-map.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: rgba(0, 0, 0, 0.521);
    
}

hr{
    background-color: #fff;
}